<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  {% load staticfiles %}
  <link rel="stylesheet" href="{% static "css/login.css" %}" type="text/css"> </head>
  {% load static %}
  <link rel="stylesheet" href="{% static "css/login.scss" %}" type="text/scss"> </head>

<body>
  <nav class="navbar navbar-expand-md bg-primary navbar-dark">
    <div class="container">
      <a href="#" class="navbar-brand">SIMBION - Portal Beasiswa
        <br> </a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar2SupportedContent" aria-controls="navbar2SupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse text-center justify-content-end" id="navbar2SupportedContent"> </div>
    </div>
  </nav>
  <div class="py-5 text-center">
    <div class="container">
      <div class="row text-left" id="login-form">
        <div class="col-md-3"> </div>
        <div class="col-md-6">
          <div class="card text-white p-5 bg-primary">
            <div class="card-body">
              <h1 class="mb-4">
                <b>Login</b>
              </h1>
              <form action="/login/login/" method="POST">
                {% csrf_token %}
                <div class="form-group">
                  <label>Username</label>
                  <input type="name" class="form-control" placeholder="Enter username" name="username"> </div>
                <div class="form-group">
                  <label>Password</label>
                  <input type="password" class="form-control" placeholder="Password" name="password"> </div>
                <button type="submit" class="btn btn-secondary" href="/fitur-4">Login</button>
                <a class="btn btn-secondary" href="/register"> Register</a>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><br>
  <div class="bg-dark text-white p-2">
    <div class="container">
      <div class="row p-2 text-center align-items-center align-self-center">
        <div class="col-4 align-self-center col-md-1 text-center   offset-md-4">
          <a href="https://www.facebook.com" target="_blank">
            <i class="fa fa-fw fa-facebook text-white fa-2x"></i>
          </a>
        </div>
        <div class="col-4 col-md-1 align-self-center text-center     ">
          <a href="https://twitter.com" target="_blank">
            <i class="fa fa-fw fa-twitter text-white fa-2x"></i>
          </a>
        </div>
        <div class="col-4 col-md-1 align-self-center">
          <a href="https://www.instagram.com" target="_blank">
            <i class="fa fa-fw fa-instagram text-white fa-2x"></i>
          </a>
        </div>
        <div class="col-4 col-md-1 align-self-center">
          <a href="https://www.instagram.com" target="_blank">
            <i class="fa fa-fw text-white fa-2x fa-envelope"></i>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 mt-3 text-center">
          <p>© Copyright 2018 SIMBION15 - All rights reserved.</p>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="modal" id="warning-notif">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Peringatan!</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Username tidak terdaftar atau password anda salah.</p>
        </div>
        <div class="modal-footer">
          <button data-toggle="modal" data-target="#login-form" class="btn btn-primary" href="#" id="submit-btn">OK</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal" data-toggle="modal" data-target="#login-form">Cancel</button>
        </div>
      </div>
    </div>
  </div> -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  
</body>

</html>
