<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  {% load staticfiles %}
  <link rel="stylesheet" href="{% static "css/login.css" %}" type="text/css"> </head>
  {% load static %}
  <link rel="stylesheet" href="{% static "css/login.scss" %}" type="text/scss"> </head>

<body class="text-white">
  <nav class="navbar navbar-expand-md bg-primary navbar-dark">
    <div class="container">
      <a href="#" class="navbar-brand">SIMBION - Portal Beasiswa
        <br> </a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar2SupportedContent" aria-controls="navbar2SupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse text-center justify-content-end" id="navbar2SupportedContent"> </div>
    </div>
  </nav>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-3"> </div>
        <div class="col-md-6">
          <div class="card text-white p-5 bg-primary">
            <div class="card-body">
              <h1 class="mb-4">
                <b>Register</b>
              </h1>
              <!-- <p class="h5">Choose your role </p> -->
              <!-- <form action="" class="text-dark"> -->
              <form action="/register/form-mhs/" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Choose your role</label>
                    <select class="form-control" id="exampleFormControlSelect1">
                      <option value="Mahasiswa">Mahasiswa</option>
                      <option value="Donatur">Donatur</option>
                    </select>
                  <!-- </div><div class="dropdown">
                  <button class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown"> Role </button>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Mahasiswa</a></li>
                    <li class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Donatur</a></li>
                  </ul>
                  </div> -->
                <br>
                <br>
                <!-- <a class="btn btn-secondary" href="/register/form-mhs"> Register now!</a> -->
                <button type="submit" class="btn btn-secondary">Register now!</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><br><br><br><br>

  <div class="bg-dark text-white p-2">
    <div class="container">
      <div class="row p-2 text-center align-items-center align-self-center">
        <div class="col-4 align-self-center col-md-1 text-center   offset-md-4">
          <a href="https://www.facebook.com" target="_blank">
            <i class="fa fa-fw fa-facebook text-white fa-2x"></i>
          </a>
        </div>
        <div class="col-4 col-md-1 align-self-center text-center     ">
          <a href="https://twitter.com" target="_blank">
            <i class="fa fa-fw fa-twitter text-white fa-2x"></i>
          </a>
        </div>
        <div class="col-4 col-md-1 align-self-center">
          <a href="https://www.instagram.com" target="_blank">
            <i class="fa fa-fw fa-instagram text-white fa-2x"></i>
          </a>
        </div>
        <div class="col-4 col-md-1 align-self-center">
          <a href="https://www.instagram.com" target="_blank">
            <i class="fa fa-fw text-white fa-2x fa-envelope"></i>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 mt-3 text-center">
          <p>© Copyright 2018 SIMBION15 - All rights reserved.</p>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  
</body>

</html>